html {font-family: sans-serif;}
#navbar {position: absolute;
top: 10px;
width: 100%;height: 40px;}
#navbar li {display: inline-block; padding: 10px; color: #606060;}
#navbar li:hover {text-decoration: underline;}
#navright {float: right; font-size: small; margin-right: 30px;}
#navleft {float: left; font-size: small;}
#signin {background-color: #4a56f8;
color: white !important;
font-weight: bold; border-radius: 10px;}
#image {margin-top: 200px;}
img {display: block; margin-right: auto; margin-left: auto;}
ul {list-style: none;
margin: 0;
padding: 0;}
#search {padding: 10px; text-align: center;}
input {height: 30px; width: 460px; border: solid lightgrey; border-width: thin; border-radius: 25px;}
input:hover {box-shadow: 0 5px 15px rgb(211,211,211,.4);}
#submit {padding: 5px; margin: auto; width: 50%; text-align: center;}
#submit button {display:inline; height: 35px; border: none; color: #606060; background-color: #F5F5F5; border-radius: 5px;}
#navigation {float: left;}
#basics {float: right;}
#submit button:hover {border: solid lightgrey; border-width: thin;}
footer {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    height:40px;
    background-color: #F5F5F5;
    margin: 0 auto;
    text-align: center;
    border-top: solid lightgrey;
border-width: thin;}
    ul{
        margin: 0px;
        }
 footer li {
    display: inline-block;
    color: #606060;
    padding: 10px;
font-size: 13px;}
footer li:hover {text-decoration: underline;}
li a {color: inherit; text-decoration: inherit;}